<%- include('../layouts/header.ejs')	-%>
<div id="myModal">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Great!</h4>	
				<p>Your order has been submitted successfully.</p>
				<button class="btn btn-success" data-dismiss="modal"><span><a href="/shop">continue shopping</a></span> <i class="material-icons">&#xE5C8;</i></button>
			</div>
		</div>
	</div>
</div>

<%- include('../layouts/footer.ejs')	-%>